.faqs {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 15px;
  background-color: #e8e9eb;
  border-radius: 8px;

}

.faq {
  margin: 15px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #013879;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  color: black;
}
.backCon3 {
    background-color: white;
    border-radius: 14px;
    border: 1px solid rgb(172, 171, 171);
    justify-content: center;
    align-items: center;
    /* padding-bottom: 20px; */
    padding: 20px;
    max-width: 1280px;
    /* margin-top: 30px !important; */
    /* margin-left: 120px !important; */

    /* text-align: center; */
}
.text-center p {
  font-size: 16px;
  line-height: 1.75;
  color: #444;
  max-width: 1880px;
  margin: 0 auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.3px;
}


.faq-question {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  padding-right: 30px;
  color: #013879;
}

.faq-question::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 16px;
  transition: all 0.2s ease;
}

.faq.open .faq-question::after {
  content: "-";
}

.faq-answer {
  border: 1px solid #eeebeb;
  border-radius: 10px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #000000;
  padding: 0 8px;
  line-height: 1.6;
  font-style: italic;
  font-size: 14px;
}

.faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
  margin-top: 10px;
}

.state-badgeQA {
  display: inline-block;
  color: white;
  background-color: #013879;
  font-weight: 500;
  padding: 2px 8px;
  border-radius: 6px;
  font-size: 11px;
  position: relative;
  top: -10px;
  left: 10px;
}