.faqs {
    width: 100%;
    max-width: 1260;
    margin: 0 auto;
    padding: 15px;
    background-color: #e8e9eb;
    border-radius: 8px;
}

.faq {
    margin: 15px;
    padding: 15px;
    background: #fff;
    /* background: #fff; */
    border-radius: 10px;
    border: 1px solid #013879;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s ease;
    color: black;
}

.faq-question {
    position: relative;
    font-size: 14px !important;
    font-weight: 600;
    padding-right: 30px;
    color: #013879;

}

.faq-question::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 16px;
    transition: all 0.2s ease;
}

.faq-answer {
    border: 1px solid #eeebeb;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0 8px;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;
    color: #000000;
    line-height: 1.6;
    font-style: italic;
    font-size: 12px !important;
}


.faq.open .faq-question {
    margin-bottom: 10px;
}

.faq.open .faq-question::after {
    content: "-";
}

.faq.open .faq-answer {
    max-height: 500px;
    /* Adjust as needed */
    opacity: 1;
    padding: 8px;
}


.backCon {
    background-color: white;
    border-radius: 14px;
    border: 1px solid rgb(172, 171, 171);
    justify-content: center;
    align-items: center;
    /* padding-bottom: 20px; */
    padding: 20px;
    max-width: 1280px;
    margin-top: 60px !important;
    margin-left: 220px !important;

    /* text-align: center; */
}
.backCon1 {
    background-color: white;
    border-radius: 14px;
    border: 1px solid rgb(172, 171, 171);
    justify-content: center;
    align-items: center;
    /* padding-bottom: 20px; */
    padding: 0px 20px 20px 20px;
    max-width: 1280px;
    margin-top: 100px !important;
    margin-left: 220px !important;

    /* text-align: center; */
}

.state-badgeTO {
    display: inline-block;
    color: white !important;
    background-color: #013879 !important;
    font-weight: 500;
    padding: 2px 8px;
    border-radius: 6px;
    font-size: 11px;
    /* margin-top: -6px !important; */
    position: relative;
    top: -30px;
    left: 10px;
}